# Machine Learning Course - Day 8

# Preprocesado de datos

Normalmente  las acciones que se suelen hacer en esta etapa son:

    - Limpieza de datos.
    - Analisis y representacion de datos.
    - Unificacion de datos.
    - Estandarizacion de datos.

La razon de existir esta etapa es que cuando se recolectan los datos, no se suele ser de forma controlada, los datos crudos suelen tener a menudo valores atipicos (Outliners), un ejemplo de esto puede ser un censo, en el cual una persona puede llegar a tener 120 a√±os, valores nulos, problemas con las escalas de los valores, etc.

Esta etapa tiene una gran importancia ya que es la etapa a la que mas tiempo se le dedica, todo por obtener los datos limpios sin ninguna inconsistencia

# Representacion de los datos

El objetivo principal del Machine Learning es entender los datos y encontrar patrones. Para cumplir con ello, es muy importante ingresar los datos de forma que sea interpretable por la computadora.

# Variables Independientes y Objetivo

Los Dataframe son utilizados para almacenar las variable o caracteristicas y estos pueden ser clasificados de 2 formas:
    - Variables independientes ( predictores )
    - Variables dependientes ( targets )

Las variables independientes son utilizadas para predecir las variables target. Como su nombre lo sugiere, las variables independientes son independientes unas de otras. En caso de que no sea asi, esto debera ser abordado en la etapa de preprocesado

# Exploracion de los datos

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

Como vemos nuestros datos representados?

In [8]:
# Head solo mostrara los primeros 5 datos, pero puede agregarle un valor al metodo y mostrara mas
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Cuantas columnas tiene mi CSv?

In [9]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

Como identificaremos nuestros registros?

In [10]:
df.index

RangeIndex(start=0, stop=10, step=1)

Cuantos datos tengo?

In [11]:
df.shape

(10, 4)

Cuantos datos nulos tengo?

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

# Limpieza de datos

En esta ocacion solo estaremos remplazando los valores nulos, sin embargo tambien hay que eliminar los datos anomals y los datos categoricos, entre otros.

In [16]:
# Podemos usar el metodo isna para saber si se encuentran datos nulos, pero tambien podemos concadenarle el metodo sum, para poder observar la cantidad de datos nulos
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

Creamos una copia del dataframe que teniamos y con apoyo del metodo dropna, podremos eliminar los datos nulos, sin embargo al hacerlo tendremos menos datos y puede llegar a ser perjudicial para nuestro analisis

In [20]:
df2 = df.dropna()

In [21]:
df2.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
df2.shape

(8, 4)